# Environment and Secret Files
*.env
csecret.js
tokens.json
accounts.txt
contacts.csv

# Log Files
*.log

# Ignore system and build files
*.sh

# Ignore media directories
/media/*
!/media/.htaccess

# Ignore var directory except for specific files
/var/*
!/var/.htaccess
!/var/package
/var/package/*
!/var/package/*.xml

# Ignore files and directories with 'token' or 'tokens' in the name
*token*
*tokens*
csecret.json
/token
/tokens
